---
layout: archive
permalink: /categories/
title: "Posts by Category"
author_profile: true
---

<p align="center">
  <img src="https://aliceyu68.github.io/tongjie-yu.github.io/images/WechatIMG488.jpeg?raw=true" alt="Photo" style="width:600px;"/>
</p>
<p align="center">
  
 <p align="center">
  <img src="https://aliceyu68.github.io/tongjie-yu.github.io/images/WechatIMG489.jpeg?raw=true" alt="Photo" style="width:600px;"/>
</p>
<p align="center"> 
  
  <p align="center">
  <img src="https://aliceyu68.github.io/tongjie-yu.github.io/images/WechatIMG490.jpeg?raw=true" alt="Photo" style="width:600px;"/>
</p>
<p align="center">
  
  <p align="center">
  <img src="https://aliceyu68.github.io/tongjie-yu.github.io/images/WechatIMG491.jpeg?raw=true" alt="Photo" style="width:600px;"/>
</p>
<p align="center">
  
  <p align="center">
  <img src="https://aliceyu68.github.io/tongjie-yu.github.io/images/WechatIMG492.jpeg?raw=true" alt="Photo" style="width:600px;"/>
</p>
<p align="center">
  
  <p align="center">
  <img src="https://aliceyu68.github.io/tongjie-yu.github.io/images/WechatIMG493.jpeg?raw=true" alt="Photo" style="width:600px;"/>
</p>

<p align="center">
  <img src="https://aliceyu68.github.io/tongjie-yu.github.io/images/WechatIMG494.jpeg?raw=true" alt="Photo" style="width:600px;"/>
</p>
<p align="center">
  
  <p align="center">
  <img src="https://aliceyu68.github.io/tongjie-yu.github.io/images/WechatIMG495.jpeg?raw=true" alt="Photo" style="width:600px;"/>
</p>   
<p align="center">
<p align="center">
  
  <p align="center">
  <img src="https://aliceyu68.github.io/tongjie-yu.github.io/images/WechatIMG488
            
            96.jpeg?raw=true" alt="Photo" style="width:600px;"/>
</p>
<p align="center">

{% include base_path %}
{% include group-by-array collection=site.posts field="categories" %}

{% for category in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}
